    body {
      margin: 0;
      padding: 0;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #444;
      background-color: #FFFDD0;
    }
    /*
     * Formatting the header area
     */
    header {
      background-color: #DFB887;
      height: 35px;
      width: 100%;
      opacity: .9;
      margin-bottom: 10px;
    }
    /*
     * Centering the body content
     */
    .container {
      width: 1200px;
      margin: 0 auto;
    }
    h1 {
      font-size: 8em;
      margin-top: 40px;
      text-align: center;
      letter-spacing: -2px;
    }
